@media all and (max-width: 600px) {

    .logo{
      width: 200px;
    }

    nav {
      font-size: 22px;
    }

    .login {
      transform: scale(0.6, 0.6);
      right: 0;
      top: 1%;
    }

    .logged {
      font-size: 12px;
      right: 5%;
      top: 3%;
    }

      .logged ul {
        font-size: 10px;
      }

    .small-menu {
      display: inline-block;
    }

    .big-menu {
      display: none;
    }

    .big-menu li {
      margin: 0;
      margin-top: 5px;
      width: 100%;
    }

    .big-menu li span, .big-menu li a {
      padding: 5px 0;
      border-bottom: 1px solid #0000FF;
    }

    .dropdown-content {
      margin-top: 5px;
      font-size: 15px;
      position: relative;

    }

      .dropdown-content li {
        width: 100%;
        margin: 5px 0;
        padding: 0;
      }

    .carousel {
      display: none;
    }

    .svg-facebook {
      width: 20px;
      height: 20px;
    }

    .svg-twitter {
      width: 20px;
      height: 20px;
    }

    footer {
      font-size: 12px;
    }

    footer li {
      margin: 5px 5px;
    }

    .headergrid {
      font-size: 18px;
    }

    .innergrid {
      font-size: 10px;
    }

}

@media all and (max-width: 1199px) and (min-width: 600px) {

  .logo{
    width: 300px;
  }

  nav {
    font-size: 22px;
  }

  .login {
    transform: scale(0.8, 0.8);
    right: 5%;
    top: 2%;
  }

  .logged {
    font-size: 15px;
    right: 8%;
    top: 3%;
  }

    .logged ul {
      font-size: 12px;
      padding: 0;
    }

  .small-menu {
    display: none;
  }

  .big-menu {
    display: block;
  }

  .dropdown-content {
    font-size: 15px;
    position: absolute;
    background-color: #000000;
  }

    .dropdown-content li {
      min-width: 120px;
      padding: 0;
      padding-left: 5px;
      margin: 0 0;
      background-color: #000000;
    }

    .dropdown-content li a, .dropdown-content li span{
      float: left;
    }

  .carousel {
    display: block;
  }

  .svg-facebook {
    width: 25px;
    height: 25px;
  }

  .svg-twitter {
    width: 25px;
    height: 25px;
  }

  footer {
    font-size: 15px;
  }

  footer li {
    margin: 5px 7px;
  }

  .headergrid {
    font-size: 22px;
  }

  .innergrid {
    font-size: 14px;
  }

}

@media all and (min-width: 1200px) {

  .logo{
    width: 487px;
  }

  .login {
    right: 10%;
    top: 5%;
  }

  .logged {
    width: 100px;
    font-size: 20px;
    right: 10%;
    top: 4%;
  }

      .logged ul {
        font-size: 16px;
        padding: 0;
      }

  nav {
    font-size: 28px;
  }

  .small-menu {
    display: none;
  }

  .big-menu {
    display: block;
  }

  .dropdown-content {
    font-size: 17px;
    position: absolute;
    background-color: #000000;
  }

    .dropdown-content li {
      min-width: 160px;
      padding: 0;
      padding-left: 5px;
      margin: 0 0;
    }

    .dropdown-content li a, .dropdown-content li span{
      float: left;
    }

  .carousel {
    display: block;
  }

  .svg-facebook {
    width: 30px;
    height: 30px;
  }

  .svg-twitter {
    width: 30px;
    height: 30px;
  }

  footer {
    font-size: 17px;
  }

  footer li {
    margin: 5px 10px;
  }

  .headergrid {
    font-size: 28px;
  }

  .innergrid {
    font-size: 20px;
  }

}

@font-face {
	font-family: arkanoid;
	src: url('../resources/fonts/Iomanoid-Regular.eot');
	src: url('../resources/fonts/Iomanoid-Regular.eot?#iefix') format('embedded-opentype'),
		url('../resources/fonts/Iomanoid-Regular.woff2') format('woff2'),
		url('../resources/fonts/Iomanoid-Regular.woff') format('woff'),
		url('../resources/fonts/Iomanoid-Regular.ttf') format('truetype'),
		url('../resources/fonts/Iomanoid-Regular.svg#Iomanoid-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  background: url('../resources/img/background.jpg') fixed;
  margin: 0 10%;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

header {
  width: 100%;
  text-align:center;
}

h1 {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  border-top: 1px solid #FFFFFF;
}

  footer p {
    float: right;
  }

  footer ul {
    padding: 0;
    margin: 0;
  }

  footer li {
    display: inline-flex;
    float: left;
  }

nav {
  font-family: arkanoid;
  text-align: center;
  width: 100%;
  display: block;
  z-index: 10;
}

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline-block;
    position: relative;
    margin: 0 20px;
  }

section {
  margin: 40px 0;
  text-align: center;
}

.title {
  display: none;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
}

.button {
  transition: text-shadow 1s ease;
}

.button:hover, .dropdown:hover .dropdownbutton, .current {
  text-shadow:
  	0 0 20px #0000FF,
    0 0 20px #0000FF,
    0 0 20px #0000FF,
    0 0 20px #0000FF
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index: 10;
}

  .dropdown-content li a, .dropdown-content li span{
      border-bottom: solid 1px #FF0000;
  }

.carousel {
		width: 500px;
		overflow: hidden;
    padding: 0;
    margin: 0 auto;
    z-index: 1;
}

.slides {
	width: 2000px;
	padding: 0;
  margin: 0;
}

	.carousel .slides li {
		width: 500px;
		text-align: center;
		height: 300px;
		float: left;
	}

.dots {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.dot {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.active {
  background-color: #FFFFFF;
}

path {
  transition: fill 0.5s ease;
}

#twitter:hover {
  fill: rgb(0, 172, 237);
}

.gamesingle {
  height: 525px;
}

.gamelocalmulti {
  display: inline-flex;
}

#container1 {
  margin-right: 20px;
}

.logged {
  position: absolute;
}

  .logged ul {
    margin: 0;
  }

  .logged ul li a{
    cursor: pointer;
  }

.error {
  font-size: 20px;
}

* {
    box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;

}
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;

}
.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.headergrid {
  font-family: arkanoid;
  border-bottom: 1px solid #FFFFFF;
}

.login {
  position: absolute;
  transition: box-shadow 1s ease;
}

.login:hover {
  box-shadow:
  	0 0 20px #0000FF,
    0 0 20px #0000FF,
    0 0 20px #0000FF
}

.g-signin2 {
  position: relative;
  left: 90px;
  margin-bottom: 30px;
}

form {
  width:300px;
  margin: 0 auto;
  font-size: 18px;
}

input {
  border:1px solid #ccc;
  font-size:18px;
  width:300px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  border-radius:5px;
}

.submit_button {
  font-size: 22px;
  margin-top: 30px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: arkanoid;
  transition-duration: 0.4s;
  cursor: pointer;
}

  .submit_button:focus {
    outline: none;
  }

  .submit_button:hover {
    background-color: #000000;
    color: #FFFFFF;
  }

.register {
  font-size: 26px;
  font-family: arkanoid;
}

.error_message {
  color: #D8000C;
  background-color: #FFBABA;
}

.error_input {
  border: 1px solid #FF0000;
}

.waiting {
  margin-left: 200px;
  font-size: 30px;
}

.pickup {
  border-bottom: 1px solid #FFFFFF;
}
