@media all and (max-width: 768px) {

    .logo{
      width: 200px;
    }

    nav {
      font-size: 20px;
    }

    .dropdown-content {
      font-size: 12px;
    }

      .dropdown-content li {
        min-width: 100px;
      }

    .svg-facebook {
      width: 20px;
      height: 20px;
    }

    .svg-twitter {
      width: 20px;
      height: 20px;
    }

    footer {
      font-size: 12px;
    }

}

@media all and (max-width: 1199px) and (min-width: 769px) {

  .logo{
    width: 300px;
  }

  nav {
    font-size: 22px;
  }

  .dropdown-content {
    font-size: 15px;
  }

    .dropdown-content li {
      min-width: 120px;
    }

  .svg-facebook {
    width: 25px;
    height: 25px;
  }

  .svg-twitter {
    width: 25px;
    height: 25px;
  }

  footer {
    font-size: 15px;
  }

}

@media all and (min-width: 1200px) {

  .logo{
    width: 487px;
  }

  nav {
    font-size: 28px;
  }

  .dropdown-content {
    font-size: 17px;
  }

    .dropdown-content li {
      min-width: 160px;
    }

  .svg-facebook {
    width: 30px;
    height: 30px;
  }

  .svg-twitter {
    width: 30px;
    height: 30px;
  }

  footer {
    font-size: 17px;
  }

}

@font-face {
    font-family: arkanoid;
    src: url("../fonts/iomanoid.ttf");
}

body {
  background: url("../img/background.jpg") fixed;
  margin: 0px 10%;
  color: white;
}

figure {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

header {
  width: 100%;
  text-align:center;
}

footer {
  width: 100%;
  border-top: 1px solid white;
}

  footer p {
    float: right;
  }

  footer ul {
    padding: 0px;
    margin: 0px;
  }

  footer li {
    display: inline-block;
    float: left;
    margin: 5px 10px;
  }

nav {
  font-family: arkanoid;
  text-align: center;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

  nav ul {
    padding: 0px;
    margin: 0px;
    background: black;
  }

  nav li {
    display: inline-block;
    position: relative;
    margin: 0px 20px;
  }

section {
  margin: 40px 0px;
}

.fixed {
  position: fixed;
  left: 0px;
  top: 0px;
}

.button {
  transition: text-shadow 1s ease;
}

.button:hover, .dropdown:hover .dropdownbutton, .current {
  text-shadow:
  	0px 0px 20px blue,
    0px 0px 20px blue,
    0px 0px 20px blue,
    0px 0px 20px blue
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
}

  .dropdown-content li {
      padding: 0px;
      margin: 0px 0px;
      display: block;
  }

  .dropdown-content li a, .dropdown-content li span{
      padding: 5px 0px;
      margin: 0px;
      float: left;
      border-bottom: solid 1px red;
  }

    .dropdown-content li:last-child a {
      border-bottom:none;
    }

.carousel {
		width: 480px;
		overflow: hidden;
    padding: 0px;
    display: block;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}

.slides {
	width: 1920px;
	padding: 0px;
  margin: 0px;
}

	.carousel .slides li {
		width: 480px;
		text-align: center;
		height: 280px;
		float: left;
	}

.dots {
  text-align: center;
  margin: 0px;
  padding: 5px;
}

.dot {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.game {
  height: 1000px;
}

path {
  transition: fill 0.5s ease;
}

#twitter:hover {
  fill: rgb(0, 172, 237);
}
